@use './custom-color.scss';
@use './custom-primevue.scss';

/* 过渡动画 */
#app {
  *,
  *::before,
  *::after {
    transition:
      all 0.25s,
      font-size 0s,
      color 0s,
      background-color 0.4s,
      border 0.1s,
      border-radius 0.4s,
      box-shadow 0.4s;
    transition-timing-function: ease-in-out;
  }
  button {
    transition:
      all 0.25s,
      font-size 0s,
      background-color 0.3s,
      border 0.1s,
      border-radius 0.4s,
      box-shadow 0.4s;
    transition-timing-function: ease-in-out;
  }
}
* {
  font-size: var(--fontSize);
}
.c-card-accent,
.c-card-primary {
  *,
  *::before,
  *::after {
    transition: all 0.4s ease-in-out !important;
  }
}
/* 快捷样式 */
// 宽度高度比例 1:1
.size-1-1 {
  aspect-ratio: 1/1;
}

// 宽度高度比例 16:9
.size-16-9 {
  aspect-ratio: 16/9;
}

// 宽度高度比例 4:3
.size-4-3 {
  aspect-ratio: 4/3;
}
